<script type="text/ecmascript-6">
    import Chart from 'chart.js';
    import * as jsPDF from 'jspdf';
    import {lodash} from '../../../mixins';

    export default {
        name: 'Chart',

        mixins: [lodash],

        props: {
            data: {
                required: true,
                type: Object,
            },
        },

        data() {
            return {
                chart: null,
                internalData: {},
            };
        },

        created() {
            this.$on('print', this.print);
            this.internalData = this.transform(this.data);
        },

        mounted() {
            this.chart = new Chart(this.$refs.chart.getContext('2d'), this.internalData);
        },

        beforeDestroy() {
            if (this.chart) {
                this.chart.destroy();
            }
        },

        watch: {
            data: {
                handler: function () {
                    // Deep clone, with new object for chartJs
                    this.internalData = this.transform(this.data);

                    this.chart.destroy();
                    this.chart = new Chart(this.$refs.chart.getContext('2d'), this.internalData);
                },
                deep: true,
            },
        },

        methods: {
            transform(data) {
                // Deep clone, with new object for chartJs
                let internalData = JSON.parse(JSON.stringify(data));

                // Convert axis callbacks into functions
                this._.forEach(internalData.options.scales.yAxes, (axis) => {
                    if ('ticks' in axis && 'callback' in axis.ticks) {
                        axis.ticks.callback = eval(axis.ticks.callback);
                    }
                });
                this._.forEach(internalData.options.scales.xAxes, (axis) => {
                    if ('ticks' in axis && 'callback' in axis.ticks) {
                        axis.ticks.callback = eval(axis.ticks.callback);
                    }
                });

                return internalData;
            },
            print() {
                let canvas = this.$refs.chart;
                let canvasImg = canvas.toDataURL('image/png', 1.0); // JPEG will not match background color
                let pdf = new jsPDF({
                    orientation: 'landscape',
                    unit: 'px',
                    format: [670, 340],
                });
                pdf.addImage(canvasImg, 'png', 0, 0, 492, 246);
                pdf.save('chart.pdf');
            },
        },
    };
</script>

<template>
    <div class="relative w-full">
        <canvas ref="chart" id="chart"></canvas>
    </div>
</template>