<script>
    export default {
        name: 'Sidenav',

        data() {
            return {
                expanded: localStorage.getItem('sidenav') === '1',
                ready: false,
            };
        },

        created() {
            if (!localStorage.getItem('sidenav')) {
                localStorage.setItem('sidenav', '1');
            }

            this.$on('toggle', this.toggle);
        },

        mounted() {
            this.ready = true;
        },

        methods: {
            toggle() {
                if (this.expanded) {
                    this.close();
                } else {
                    this.open();
                }
            },
            open() {
                if (!this.expanded) {
                    this.expanded = true;
                    localStorage.setItem('sidenav', '1');
                    this.$emit('opened');
                }
            },
            close() {
                if (this.expanded) {
                    this.expanded = false;
                    localStorage.setItem('sidenav', '0');
                    this.$emit('closed');
                }
            },
        },
    };
</script>

<template>
    <aside
        class="overflow-y-auto h-screen max-h-screen flex-grow-0 flex-shrink-0 bg-grey-darkest text-grey-lighter shadow-lg -mt-16 pt-16 w-transition absolute z-40 sm:static sm:z-auto"
        :class="(expanded && ready) ? 'w-56' : 'w-0'">
        <div class="flex flex-col">
            <slot></slot>
        </div>
    </aside>
</template>
