<script>
    import {axios, swal} from '../../../mixins';

    export default {
        name: 'DisableConfirmation',

        mixins: [axios, swal],

        props: {
            url: {
                required: true,
                type: String,
            },
            name: {
                required: true,
                type: String,
            },

        },

        methods: {
            doDisable() {
                return this.swalConfirm(`Disabling ${this.name}`, `Please confirm the you wish to disable ${this.name}`).then((result) => {
                    if (result.value) {
                        this.swalLoading('', `Disabling ${this.name}...`);

                        this.post(this.url, {}).then(() => {
                            this.swalClose();
                            this.swalSuccess('', `Successfully disabled ${this.name}`).finally(() => {
                                this.$emit('disabled', this.name);
                            });
                        }).catch(() => {
                            this.swalClose();
                            this.swalError('', `Failed to disable ${this.name}`);
                        });
                    }
                });
            },
        },
    };
</script>

<template>
    <button @click.stop="doDisable">
        <slot :location="window.location"></slot>
    </button>
</template>

