<script>
    import {axios, swal} from '../../../mixins';

    export default {
        name: 'EnableConfirmation',

        mixins: [axios, swal],

        props: {
            url: {
                required: true,
                type: String,
            },
            name: {
                required: true,
                type: String,
            },

        },

        methods: {
            doEnable() {
                return this.swalConfirm(`Enable ${this.name}`, `Please confirm that you wish to enable ${this.name}`).then((result) => {
                    if (result.value) {
                        this.swalLoading('', `Enabling ${this.name}...`);

                        this.post(this.url, {}).then(() => {
                            this.swalClose();
                            this.swalSuccess('', `Successfully enabled ${this.name}`).finally(() => {
                                this.$emit('enabled', this.name);
                            });
                        }).catch(() => {
                            this.swalClose();
                            this.swalError('', `Failed to enable ${this.name}`);
                        });
                    }
                });
            },
        },
    };
</script>

<template>
    <button @click.stop="doEnable">
        <slot :location="window.location"></slot>
    </button>
</template>
