<script>
    export default {
        name: 'Modal',

        data() {
            return {
                showing: false,
            };
        },

        created() {
            this.$on('open', this.open);
            this.$on('close', this.close);
        },

        methods: {
            open() {
                if (!this.showing) {
                    this.showing = true;
                    this.$emit('opened');
                }
            },
            close() {
                if (this.showing) {
                    this.showing = false;
                    this.$emit('closed');
                }
            },
        },
    };
</script>

<template>
    <div>
        <transition
            enter-active-class="transition-all duration-200 ease-out"
            leave-active-class="transition-all duration-300 ease-in"
            enter-class="opacity-0 scale-70"
            enter-to-class="opacity-100 scale-100"
            leave-class="opacity-100 scale-100"
            leave-to-class="opacity-0 scale-70"
        >
            <div @click.self="close" v-if="showing"
                 class="fixed inset-0 z-50 w-full px-2 h-screen flex items-center justify-center bg-black bg-opacity-50">
                <div class="relative w-full max-w-3xl bg-white shadow-lg rounded-lg p-6">
                    <button class="absolute top-0 right-0 text-xl text-black my-2 mx-4" @click.prevent="close">
                        ×
                    </button>

                    <slot></slot>
                </div>
            </div>
        </transition>
        <slot name="button">
            <button class="button button-blue" @click="open">
                <i class="fa fa-plus"></i> Open
            </button>
        </slot>
    </div>
</template>
